{% extends "layoutDoc.html" %}
{% block content %}

      <article style="top: 200px; left:420px;" class="col-md-4">
     
          <div class="media-body">
            <div class="article-metadata">
			<p style="font-family: Coves-Bold;font-weight: bold; font-size: 25px; color: black;">Appointment by <b>{{ appointment.patient }}</b> </p>
              
            </div>
            <p style="font-family: Coves-Bold;font-weight: bold; font-size: 25px; color: #1d807d;">Date {{appointment.date}}</p>
			<p style="font-family: Coves-Bold;font-weight: bold; font-size: 25px; color: #1d807d;">Patient Phone number : {{appointment.phone}}</p>
            <p style="font-family: Coves-Bold;font-weight: bold; font-size: 25px; color: #1d807d;" class="article-content">Patient Code is  <b style="color:black;">{{appointment.code}} </b> </p>
			<button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Clear</button>
			<br><br><br>
			
          </div>
        </article>
    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Clear Appointment?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_appointment', appointment_id=appointment.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}