{% extends "layoutDoc.html" %}
{% block content %}
    <style id="applicationStylesheet" type="text/css">
	.mediaViewInfo {
		--web-view-name: MEDICAL PARTNERS – 2;
		--web-view-id: MEDICAL_PARTNERS___2;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: MEDICAL_PARTNERS___2;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#MEDICAL_PARTNERS___2 {
		position: absolute;
		width: 1366px;
		height: 1108px;
		background-color: rgba(0,0,0,0);
		overflow: hidden;
		--web-view-name: MEDICAL PARTNERS – 2;
		--web-view-id: MEDICAL_PARTNERS___2;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	@keyframes fadein {
	
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	
	}
	#BACKGROUND2 {
		position: absolute;
		width: 1992px;
		height: 1120px;
		left: -313px;
		top: 0px;
		overflow: visible;
	}
	#LIFESTYLE {
		position: absolute;
		left: 537.781px;
		top: 194.053px;
		overflow: visible;
		width: 292px;
		white-space: nowrap;
		line-height: 76.14447784423828px;
		margin-top: -6.345373153686523px;
		text-align: left;
		font-family: Coves-Bold;
		font-style: normal;
		font-weight: normal;
		font-size: 63.453731536865234px;
		color: rgba(255,255,255,1);
	}
	#FIRST_DR {
		position: absolute;
		width: 481.167px;
		height: 213px;
		left: 96px;
		top: 370px;
		overflow: visible;
	}
	#TRANSFORMERS_FITNESS_CENTER {
		position: absolute;
		left: 246px;
		top: 0px;
		overflow: visible;
		width: 187px;
		white-space: nowrap;
		text-align: left;
		font-family: Coves;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	.Line_1 {
		overflow: visible;
		position: absolute;
		width: 236.406px;
		height: 1px;
		left: 244.762px;
		top: 65.693px;
		transform: matrix(1,0,0,1,0,0);
	}
	#location {
		position: absolute;
		width: 26px;
		height: 39px;
		left: 246px;
		top: 93px;
		overflow: visible;
	}
	#icons_1831922 {
		position: absolute;
		width: 26px;
		height: 39px;
		left: 246px;
		top: 133px;
		overflow: visible;
	}
	#percent {
		position: absolute;
		width: 26px;
		height: 38px;
		left: 246px;
		top: 175px;
		overflow: visible;
	}
	#SMART_VILLAGE {
		position: absolute;
		left: 287px;
		top: 98px;
		overflow: visible;
		width: 108px;
		white-space: nowrap;
		text-align: left;
		font-family: Coves;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		color: rgba(255,255,255,1);
	}
	#ID02_38244755 {
		position: absolute;
		left: 287px;
		top: 138px;
		overflow: visible;
		width: 105px;
		white-space: nowrap;
		text-align: left;
		font-family: Coves;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgba(255,255,255,1);
	}
	#ID15_ {
		position: absolute;
		left: 287px;
		top: 178px;
		overflow: visible;
		width: 28px;
		white-space: nowrap;
		text-align: left;
		font-family: Coves;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#transformers {
		position: absolute;
		width: 193px;
		height: 193px;
		left: 0px;
		top: 12px;
		overflow: visible;
	}
	#SECOND_DR {
		position: absolute;
		width: 481.167px;
		height: 214px;
		left: 789px;
		top: 369px;
		overflow: visible;
	}
	#UFC_GYM_EGYPT {
		position: absolute;
		left: 252px;
		top: 0px;
		overflow: visible;
		width: 132px;
		white-space: nowrap;
		text-align: left;
		font-family: Coves;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	.Line_1_bh {
		overflow: visible;
		position: absolute;
		width: 236.406px;
		height: 1px;
		left: 244.762px;
		top: 66.693px;
		transform: matrix(1,0,0,1,0,0);
	}
	#location_bi {
		position: absolute;
		width: 26px;
		height: 39px;
		left: 246px;
		top: 94px;
		overflow: visible;
	}
	#icons_1831922_bj {
		position: absolute;
		width: 26px;
		height: 39px;
		left: 246px;
		top: 134px;
		overflow: visible;
	}
	#percent_bk {
		position: absolute;
		width: 26px;
		height: 38px;
		left: 246px;
		top: 176px;
		overflow: visible;
	}
	#CAPITAL_BUSINESS_PARK {
		position: absolute;
		left: 287px;
		top: 99px;
		overflow: visible;
		width: 169px;
		white-space: nowrap;
		text-align: left;
		font-family: Coves;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		color: rgba(255,255,255,1);
	}
	#ID19111 {
		position: absolute;
		left: 287px;
		top: 137px;
		overflow: visible;
		width: 37px;
		white-space: nowrap;
		text-align: left;
		font-family: Coves;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#ID20_ {
		position: absolute;
		left: 287px;
		top: 181px;
		overflow: visible;
		width: 34px;
		white-space: nowrap;
		text-align: left;
		font-family: Coves;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgba(255,255,255,1);
	}
	#ufc {
		position: absolute;
		width: 193px;
		height: 193px;
		left: 0px;
		top: 13px;
		overflow: visible;
	}
	#FOURTH_DR {
		position: absolute;
		width: 481.167px;
		height: 207px;
		left: 789px;
		top: 710px;
		overflow: visible;
	}
	#SAMIA_ALLOUBA_FITNESS_CENTER {
		position: absolute;
		left: 246px;
		top: 0px;
		overflow: visible;
		width: 191px;
		white-space: nowrap;
		text-align: left;
		font-family: Coves;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	.Line_1_br {
		overflow: visible;
		position: absolute;
		width: 236.406px;
		height: 1px;
		left: 244.762px;
		top: 59.693px;
		transform: matrix(1,0,0,1,0,0);
	}
	#location_bs {
		position: absolute;
		width: 26px;
		height: 39px;
		left: 246px;
		top: 87px;
		overflow: visible;
	}
	#icons_1831922_bt {
		position: absolute;
		width: 26px;
		height: 39px;
		left: 246px;
		top: 127px;
		overflow: visible;
	}
	#percent_bu {
		position: absolute;
		width: 26px;
		height: 38px;
		left: 246px;
		top: 169px;
		overflow: visible;
	}
	#AMERICANA_PLAZA_BRANCH {
		position: absolute;
		left: 287px;
		top: 92px;
		overflow: visible;
		width: 194px;
		white-space: nowrap;
		text-align: left;
		font-family: Coves;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		color: rgba(255,255,255,1);
	}
	#ID02_38372266 {
		position: absolute;
		left: 287px;
		top: 132px;
		overflow: visible;
		width: 104px;
		white-space: nowrap;
		text-align: left;
		font-family: Coves;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgba(255,255,255,1);
	}
	#ID10_ {
		position: absolute;
		left: 287px;
		top: 172px;
		overflow: visible;
		width: 34px;
		white-space: nowrap;
		text-align: left;
		font-family: Coves;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#sa {
		position: absolute;
		width: 193px;
		height: 193px;
		left: 0px;
		top: 6px;
		overflow: visible;
	}
	#THIRD_DR {
		position: absolute;
		width: 481.167px;
		height: 207px;
		left: 96px;
		top: 710px;
		overflow: visible;
	}
	#GOLDS_GYM {
		position: absolute;
		left: 245px;
		top: 0px;
		overflow: visible;
		width: 83px;
		white-space: nowrap;
		text-align: left;
		font-family: Coves;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	.Line_1_b {
		overflow: visible;
		position: absolute;
		width: 236.406px;
		height: 1px;
		left: 244.762px;
		top: 59.693px;
		transform: matrix(1,0,0,1,0,0);
	}
	#location_b {
		position: absolute;
		width: 26px;
		height: 39px;
		left: 246px;
		top: 87px;
		overflow: visible;
	}
	#icons_1831922_b {
		position: absolute;
		width: 26px;
		height: 39px;
		left: 246px;
		top: 127px;
		overflow: visible;
	}
	#percent_b {
		position: absolute;
		width: 26px;
		height: 38px;
		left: 246px;
		top: 169px;
		overflow: visible;
	}
	#BEVERLY_HILLS_BRACH {
		position: absolute;
		left: 287px;
		top: 92px;
		overflow: visible;
		width: 154px;
		white-space: nowrap;
		text-align: left;
		font-family: Coves;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		color: rgba(255,255,255,1);
	}
	#ID16191 {
		position: absolute;
		left: 287px;
		top: 130px;
		overflow: visible;
		width: 42px;
		white-space: nowrap;
		text-align: left;
		font-family: Coves;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#ID20__b {
		position: absolute;
		left: 287px;
		top: 172px;
		overflow: visible;
		width: 38px;
		white-space: nowrap;
		text-align: left;
		font-family: Coves;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#golds {
		position: absolute;
		width: 193px;
		height: 193px;
		left: 0px;
		top: 6px;
		overflow: visible;
	}
</style>
<div id="MEDICAL_PARTNERS___2">
	<img id="BACKGROUND2" src="static/BACKGROUND2.png" >
	<div id="LIFESTYLE">
		<span>LIFESTYLE</span>
	</div>
		<div id="FIRST_DR">
		<div id="TRANSFORMERS_FITNESS_CENTER">
			<span>TRANSFORMERS<br/>FITNESS CENTER</span>
		</div>
		
		<img id="location" src="static/location.png" >
		<img id="icons_1831922" src="static/icons_1831922.png" >
		<img id="percent" src="static/percent.png" >
		<div id="SMART_VILLAGE">
			<span>SMART VILLAGE</span>
		</div>
		<div id="ID02_38244755">
			<span>02 38244755</span>
		</div>
		<div id="ID15_">
			<span>15%</span>
		</div>
		<img id="transformers" src="static/transformers.png" >
	</div>
	<div id="SECOND_DR">
		<div id="UFC_GYM_EGYPT">
			<span>UFC<br/>GYM EGYPT</span>
		</div>
		
		<img id="location_bi" src="static/location_bi.png">
		<img id="icons_1831922_bj" src="static/icons_1831922_bj.png" >
		<img id="percent_bk" src="static/percent_bk.png" >
		<div id="CAPITAL_BUSINESS_PARK">
			<span>CAPITAL BUSINESS PARK</span>
		</div>
		<div id="ID19111">
			<span>19111</span>
		</div>
		<div id="ID20_">
			<span>20%</span>
		</div>
		<img id="ufc" src="static/ufc.png" >
	</div>
	<div id="FOURTH_DR">
		<div id="SAMIA_ALLOUBA_FITNESS_CENTER">
			<span>SAMIA ALLOUBA<br/>FITNESS CENTER</span>
		</div>
		
		<img id="location_bs" src="static/location_bs.png" >
		<img id="icons_1831922_bt" src="static/icons_1831922_bt.png">
		<img id="percent_bu" src="static/percent_bu.png" >
		<div id="AMERICANA_PLAZA_BRANCH">
			<span>AMERICANA PLAZA BRANCH</span>
		</div>
		<div id="ID02_38372266">
			<span>02 38372266</span>
		</div>
		<div id="ID10_">
			<span>10%</span>
		</div>
		<img id="sa" src="static/sa.png" >
	</div>
	<div id="THIRD_DR">
		<div id="GOLDS_GYM">
			<span>GOLDS<br/>GYM</span>
		</div>
		
		<img id="location_b" src="static/location_b.png" >
		<img id="icons_1831922_b" src="static/icons_1831922_b.png">
		<img id="percent_b" src="static/percent_b.png">
		<div id="BEVERLY_HILLS_BRACH">
			<span>BEVERLY HILLS BRACH</span>
		</div>
		<div id="ID16191">
			<span>16191</span>
		</div>
		<div id="ID20__b">
			<span>20%</span>
		</div>
		<img id="golds" src="static/golds.png" >
	</div>
</div>
{% endblock content %}