  
{% extends "layoutDoc.html" %}
{% block content %}
<html> 
<body> 
<div style="top: 200px; left:420px;" style="font-family: Coves-Bold;font-weight: bold; font-size: 22px; color: #1d807d;"  class="col-md-8">
	

		<h3>Medical History</h3> 
        <p style="font-family: Coves-Bold;font-weight: bold; font-size: 22px; color: #1d807d;">Gender: {{one}}</p>
		<p style="font-family: Coves-Bold;font-weight: bold; font-size: 22px; color: #1d807d;">Blood Type: {{two}}</p>
		<p style="font-family: Coves-Bold;font-weight: bold; font-size: 22px; color: #1d807d;">Age: {{three}}</p>
		<p style="font-family: Coves-Bold;font-weight: bold; font-size: 22px; color: #1d807d;">Personal History 1: {{four}}</p>
		<p style="font-family: Coves-Bold;font-weight: bold; font-size: 22px; color: #1d807d;">Personal History 2: {{four2}}</p>
		<p style="font-family: Coves-Bold;font-weight: bold; font-size: 22px; color: #1d807d;">Personal History 3: {{four3}}</p>
		<p style="font-family: Coves-Bold;font-weight: bold; font-size: 22px; color: #1d807d;">Family History 1: {{five}}</p>
		<p style="font-family: Coves-Bold;font-weight: bold; font-size: 22px; color: #1d807d;">Family History 2: {{five2}}</p>
		<p style="font-family: Coves-Bold;font-weight: bold; font-size: 22px; color: #1d807d;">Family History 3: {{five3}}</p>
		<p style="font-family: Coves-Bold;font-weight: bold; font-size: 22px; color: #1d807d;">Drug Allergy 1: {{six}}</p>
		<p style="font-family: Coves-Bold;font-weight: bold; font-size: 22px; color: #1d807d;">Drug Allergy 2: {{seven}}</p>
		<p style="font-family: Coves-Bold;font-weight: bold; font-size: 22px; color: #1d807d;">Drug Allergy 3: {{eight}}</p>
		<p style="font-family: Coves-Bold;font-weight: bold; font-size: 22px; color: #1d807d;">Current Medications 1: {{nine}}</p>
		<p style="font-family: Coves-Bold;font-weight: bold; font-size: 22px; color: #1d807d;">Current Medications 2:  {{ten}}</p>
		<p style="font-family: Coves-Bold;font-weight: bold; font-size: 22px; color: #1d807d;">Current Medications 3:  {{eleven}}</p>
		<p style="font-family: Coves-Bold;font-weight: bold; font-size: 22px; color: #1d807d;">Smoking History: {{twelve}}</p>
		<p style="font-family: Coves-Bold;font-weight: bold; font-size: 22px; color: #1d807d;">Alcohol Consumption: {{thirteen}}</p>
		<p style="font-family: Coves-Bold;font-weight: bold; font-size: 22px; color: #1d807d;">Illegal Drugs Consumption: {{fourteen}}</p>
    </div>

{% endblock content %}